services:
  # 1. The Flask App
  web:
    build: .
    container_name: sourcepoint_app
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - .:/app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - db
      - redis

  # 2. The Database
  db:
    image: postgres:15
    container_name: sourcepoint_db_dev
    restart: always
    environment:
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: dev_password
      POSTGRES_DB: sourcepoint_db
    ports:
      - "5434:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    networks:
      default:
        aliases:
          - db  # This makes 'db' a valid hostname for the app

  # 3. Redis
  redis:
    image: redis:alpine
    container_name: sourcepoint_redis
    restart: always
    ports:
      - "6379:6379"

  # 4. The Celery Worker & Scheduler
  worker:
    build: .
    restart: always
    command: celery -A app.celery worker --beat --loglevel=info
    env_file:
      - .env
    environment:
      - C_FORCE_ROOT=true
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - web
    # --- NEW: Permanent Scaling to 7 Workers ---
    deploy:
      replicas: 7

volumes:
  postgres_data_dev:
