services:
  web:
    build: .
    container_name: sourcepoint_app
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    container_name: sourcepoint_db_dev
    restart: always
    environment:
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: dev_password
      POSTGRES_DB: sourcepoint_db
    ports:
      - "5434:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    networks:
      default:
        aliases:
          - db

  redis:
    image: redis:alpine
    container_name: sourcepoint_redis
    restart: always
    ports:
      - "6379:6379"

  worker:
    build: .
    restart: always
    # REMOVED --beat here to prevent 7x duplicates
    command: celery -A app.celery worker --loglevel=info
    env_file:
      - .env
    environment:
      - C_FORCE_ROOT=true
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - web
    deploy:
      replicas: 7

  # NEW: Separate Scheduler service (Only 1 instance)
  scheduler:
    build: .
    container_name: sourcepoint_scheduler
    restart: always
    command: celery -A app.celery beat --loglevel=info
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - web

volumes:
  postgres_data_dev:
