version: '3.8'

services:
  # 1. The Flask App
  web:
    build: .
    container_name: sourcepoint_app
    restart: always
    ports:
      - "5000:5000"
    
    # Load keys from the .env file
    env_file:
      - .env
    
    environment:
      # Database connection (Internal Docker Network)
      - DATABASE_URL=postgresql://dev_user:dev_password@db:5432/sourcepoint_dev_db
      # Redis connection (Internal Docker Network)
      - REDIS_URL=redis://redis:6379/0
    
    # Maps local folder to container
    volumes:
      - .:/app
    
    extra_hosts:
      - "host.docker.internal:host-gateway"

    # Wait for DB and Redis to start
    depends_on:
      - db
      - redis

  # 2. The Database
  db:
    image: postgres:15
    container_name: sourcepoint_db_dev
    restart: always
    environment:
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: dev_password
      POSTGRES_DB: sourcepoint_dev_db
    ports:
      - "5434:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data

  # 3. Redis (The Shared Cache)
  redis:
    image: redis:alpine
    container_name: sourcepoint_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data_dev: