services:
  web:
    build: .
    container_name: sourcepoint_app
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://dev_user:dev_password@db:5432/sourcepoint_dev_db
    volumes:
      - .:/app
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    container_name: sourcepoint_db_dev
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER} # Use variables for prod
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: sourcepoint_db
    ports:
      - "5434:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: sourcepoint_redis
    restart: always
    ports:
      - "6379:6379"

  worker:
    build: .
    restart: always
    command: celery -A app.celery worker --loglevel=info
    env_file:
      - .env
    environment:
      - C_FORCE_ROOT=true
      - DATABASE_URL=postgresql://dev_user:dev_password@db:5432/sourcepoint_dev_db
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - web
    deploy:
      replicas: 2

  # Celery Beat Scheduler (Required for automated emails)
  scheduler:
    build: .
    container_name: sourcepoint_scheduler
    restart: always
    # 'beat' schedules tasks and sends them to the Redis queue
    command: celery -A app.celery beat --loglevel=info
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://dev_user:dev_password@db:5432/sourcepoint_dev_db
    volumes:
      - .:/app 
    depends_on:
      - redis # Beat only needs the broker (redis) to queue tasks
      - db

volumes:
  postgres_data_dev:
